.create-report {
  .title {
    margin-left: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
  }

  p {
    font-weight: 300;
    text-align: left;
  }

  form {
    margin: 0 15px 60px 15px;
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

  .form-btn {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
}
