.url {
  font-size: 0.8rem;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  background-color: lightgrey;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;

}

a {
  text-decoration: none;

}