.users {
  .list-title {

    margin-left: 18px;
    margin-bottom: 15px;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.6);
  }
}
